{% extends 'admin/master.html' %}
{% block body %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
          <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <main>
    <h1 id="shop">Пользователи</h1>
    <ul class="tovar">
      {% for user in users %}
        <li>
          <p><strong>{{ user.name }}</strong></p>
          <p>Email: {{ user.email }}</p>
          <p>Дата регистрации: {{ user.created_at }}</p>
        </li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
